* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "ReithSans", "Helvetica";
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

a {
  color: var(--color-gray-700);
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-900);
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  margin: 0;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

h5 {
  line-height: 1.4;
}

section {
  margin-top: 3rem;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 7rem;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}

.header-title {
  margin: auto;
  text-align: center;

}

.header-links {
  width: 100%;
  margin-top: 0.7rem;
  margin-bottom: 0;
  display: flex;
}

.header-links ul {
  display: flex;
  margin-bottom: 0;
}

/* .btn {
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #c6d1dd;
}


.btn.active {
  background-color: #6b7783;
  color: white;
  cursor: default; 
}


.btn.active:hover {
  background-color: #6b7783; 
  color: white;
}


.btn:not(.active):hover {
  background-color: #969ca6;
} */

.btn {
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
  background-color: #DBDBDB;
  border-radius: 0;
  position: relative;
  transition: background-color 0.3s;
}

.btn.active {
  background-color: #F6F6F6;
  cursor: default;
}

.btn.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: orange;
  border-radius: 0;
}

.btn:not(.active):hover {
  text-decoration: underline;
  text-decoration-color: rgb(17, 16, 16);
  text-decoration-thickness: 1px;
  cursor: pointer;
}


.match {
  background-color: #f9f9f9;
  /* border-left: 6px solid #2fd51a; */
  /*--------- decide dorder for full game or line --------*/
  border: 2px solid #969ca6;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  flex: 0 0 32%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;

  max-height: 8rem;

}

/*--------- Group stage  --------*/
.group-stage {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 3rem;

}

.group-stage h4 {
  margin-bottom: 1rem;

}

.group-stage-matches-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}




.group-stage-section {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
  opacity: 0.7;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  align-items: flex-start;

}

/*--------- Group stage stangins section --------*/
.group-stage-standings {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 2rem;
}

.standings-header,
.standings-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #f0f0f0;

  text-align: center;
  margin-bottom: 0.5rem;
}

.standings-header {
  font-weight: bold;
  background-color: #ddd;
}

.standings-header div,
.standings-row div {
  padding: 0.5rem;
  text-align: center;
}

.standings-header div {
  font-weight: bold;
}

.standings-header div:first-child,
.standings-row div:first-child {
  flex: 4;

  text-align: left;
}

.standings-header div:nth-child(n+2),
.standings-row div:nth-child(n+2) {
  flex: 1;

}

.standings-row {
  background-color: #f9f9f9;

  border-bottom: 1px solid #ccc;
}

h3 {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 1rem;
}

/*--------- Group stage games section --------*/
.group-stage-matches {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

}

.match-container {
  width: 33%;
  display: flex;
}

.match-container .match {
  width: 100%;
}


/*--------- Third place standing column --------*/
.best-third-placed {
  margin-left: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* margin-right: 2rem; */
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  min-width: 22rem;
}

.best-third-placed h4 {
  font-weight: bold;
  background-color: #ddd;
  padding: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.best-third-placed ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.best-third-placed li {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.best-third-placed li:last-child {
  margin-bottom: 0;
}

.best-third-placed li div {
  flex: 1;
  text-align: center;
}

.best-third-placed li div:first-child {
  flex: 4;
  text-align: left;
}

@media (max-width: 900px) {

  .group-stage-section {
    flex-direction: column;
    align-items: center;
    /* min-width: 35rem; */
  }

  .group-stage-standings,
  .group-stage-matches-container {
    width: 90%;
  }

  .match-container {
    width: 100%;
  }

  .match {
    width: 100%;
  }

  .group-stage-section {
    padding: 1rem 0;
  }

  .match {
    margin-bottom: 1rem;
  }
}




/* ----------Kick of stage(Home Page)------------ */

.elimination-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  padding: 1rem;
  padding-left: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
}

.elimination-container>section {
  padding: 0;
}

.direct-elimination-game {
  width: 25%;
  margin-right: 3rem;
  background-color: transparent;
}

.direct-elimination-game h3 {
  text-align: center;
}

.direct-elimination-game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.match-wrapper-16-1,
.match-wrapper-16-3,
.match-wrapper-16-5,
.match-wrapper-16-7 {
  position: relative;
}

.match-wrapper-16-1::after,
.match-wrapper-16-3::after,
.match-wrapper-16-5::after,
.match-wrapper-16-7::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 70%;
  width: 0;
  height: 4rem;
  border-left: 2px dashed #969ca6;
}


.match-wrapper-1::after,
.match-wrapper-3::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 70%;
  width: 0;
  height: 14rem;
  border-left: 2px dashed #969ca6;
}

.match-wrapper-1::before,
.match-wrapper-2::before,
.match-wrapper-3::before,
.match-wrapper-4::before {
  content: "";
  position: absolute;
  left: -3rem;
  top: 45%;
  transform: translateY(-50%);
  width: 3rem;
  height: 2px;
  border-top: 2px dashed #969ca6;

}

.match-wrapper-1 {
  margin-top: 4.4rem;
  position: relative;
}

.match-wrapper-2 {
  margin-top: 10rem;
  position: relative;
}

.match-wrapper-3 {
  margin-top: 10.2rem;
  position: relative;
}

.match-wrapper-4 {
  margin-top: 9.8rem;
  position: relative;
}

.match-wrapper-semi-1 {
  margin-top: 14rem;
  position: relative;
}

.match-wrapper-semi-2 {
  margin-top: 28.5rem;
  position: relative;
}

.match-wrapper-semi-1::before,
.match-wrapper-semi-2::before {
  content: "";
  position: absolute;
  left: -3rem;
  top: 45%;
  transform: translateY(-50%);
  width: 3rem;
  height: 2px;
  border-top: 2px dashed #969ca6;

}

.match-wrapper-semi-1::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 70%;
  width: 0;
  height: 38rem;
  border-left: 2px dashed #969ca6;
}

.match-wrapper-final {
  margin-top: 32rem;
  position: relative;
}

.match-wrapper-final::before {
  content: "";
  position: absolute;
  left: -3.0rem;
  top: 41%;
  width: 2.9rem;
  height: 4px;
  border-top: 2px dashed #969ca6;

}

.direct-elimination-game-container-quarter-finals,
.direct-elimination-game-container-round-of-16,
.direct-elimination-game-container-semi-finals,
.direct-elimination-game-container-final {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

}

@media (max-width: 900px) {
  h3 {
    font-size: 1.1rem;
  }

  .elimination-container {
    width: 700px;
    margin: 0 auto;
    /* This will center the container horizontally */
    justify-content: center;
    /* min-width: 35rem; */
  }

  .direct-elimination-game {
    margin-right: 2.7rem;
  }

  .match {
    width: 6.8rem;
    padding: 0.5rem;
    min-height: 8rem;
  }

  .direct-elimination-game .match .game-date {
    display: none;
  }

  .match-wrapper-16-1::after,
  .match-wrapper-16-3::after,
  .match-wrapper-16-5::after,
  .match-wrapper-16-7::after {
    right: 9px;
    top: 70%;
    width: 2px;
    height: 4rem;
    border-left: 2px dashed #969ca6;
  }

  .match-wrapper-1::before,
  .match-wrapper-2::before,
  .match-wrapper-3::before,
  .match-wrapper-4::before {
    left: -3.3rem;
    width: 3.1rem;
    height: 2px;
  }

  .match-wrapper-1 {
    margin-top: 4.5rem;

  }

  .match-wrapper-2 {
    margin-top: 9rem;
  }

  .match-wrapper-3 {
    margin-top: 9rem;
  }

  .match-wrapper-4 {
    margin-top: 9rem;
  }

  .match-wrapper-1::after,
  .match-wrapper-3::after {
    right: 11px;
    top: 70%;
    width: 2;
    height: 14rem;
    border-left: 2px dashed #969ca6;
  }

  .match-wrapper-semi-1 {
    margin-top: 13.4rem;
  }

  .match-wrapper-semi-2 {
    margin-top: 26.9rem;
  }

  .match-wrapper-semi-1::before,
  .match-wrapper-semi-2::before {

    left: -3.3rem;
    top: 45%;
    width: 3.2rem;
    height: 2px;
    border-top: 2px dashed #969ca6;

  }

  .match-wrapper-semi-1::after {
    right: 11px;
    top: 5%;
    width: 0;
    height: 38rem;
  }

  .match-wrapper-final {
    margin-top: 32rem;
  }

  .match-wrapper-final::before {
    content: "";
    position: absolute;
    left: -3.3rem;
    top: 45%;
    width: 3.1rem;
    height: 2px;


  }
}





.match-box {
  width: 100%;
  display: flex;
}

/* .match-wrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
} */


/* ---------------------- Game details----------------------- */
.matches-image-container {
  display: flex;
  margin: 0.5rem;
}

.host-team-image-container,
.visitor-team-image-container {
  width: 2.8rem;
  height: 2rem;
  padding: 0.1rem;
  margin: 0.3rem;
}

.game-details {
  flex-direction: column;
}

.game-details-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-details-head-info h2,
.game-details-head-info p,
.game-details-head-info div {
  text-align: center;
}

.formation-container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.formation-container h3 {
  text-align: center;
}

.formation-container-host,
.formation-container-visitor {
  width: 48%;
  display: flex;
  flex-direction: column;

}

.formation-container-host-info,
.formation-container-visitor-info {
  width: 100%;
  display: flex;
}

.formation-image-container {
  display: flex;
  /* margin-top: 3rem; */
  /* width: 47%; */
  height: 18rem;
  border-radius: 6px;
  overflow: hidden;
}

.host-team-list,
.visitor-team-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1rem;
}

.team-details-title {
  text-align: center;
}

.team-list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.players-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-list-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

.team-list-header>div {
  flex: 1;
}

.team-number,
.player-details-number {
  text-align: left;
  flex: 1;
}

.player-name,
.player-details-name {
  text-align: left;
  padding-left: 1rem;
  flex: 2;
}

.player-position,
.player-details-position {
  text-align: center;
  flex: 1;
}

.player-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.player-item:hover {
  background-color: #f9f9f9;
}

.player-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


@media (max-width: 1100px) {
  .formation-image-container {
    width: 10rem;
    height: 9rem;
  }

  .visitor-team-list {
    width: 80%;
  }
}

@media (max-width: 900px) {

  .formation-container-host-info,
  .formation-container-visitor-info {

    flex-direction: column;

  }

  .formation-image-container {
    width: 100%;
    height: auto;
    padding: 1rem;
    margin-bottom: 1rem;
  }

}

/*------------------ Player details ----------------------------*/

.player-details-box {
  margin: 0 auto;
  width: 38rem;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  opacity: 0.7;
  border-radius: 8px;
  text-align: center;
  padding-bottom: 1rem;
  margin-top: 6rem;
  font-weight: bold;
}

.player-details-box p {
  margin-top: 0.5rem;
}

.player-details-box h2 {
  margin: 1rem;
}

.player-details-box .btn {
  margin-top: 1rem;
}

.image-keeper {
  display: flex;
  /* margin-top: 3rem; */
  /* width: 47%; */
  height: 18rem;
  border-radius: 6px;
  overflow: hidden;
  margin: 2rem;
}

.player-container {
  width: 1200px;
  /* background-color: aqua;  */
  height: 100vh;
  background-image: url('/assets/images/opening.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 20px;
}